<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.hui.boot.multi.datasource.story.mapper.ProjectDataInfoMapper">
  <resultMap id="BaseResultMap" type="com.git.hui.boot.multi.datasource.story.entity.ProjectDataInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_number" jdbcType="VARCHAR" property="openNumber" />
    <result column="open_type" jdbcType="VARCHAR" property="openType" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="show_name" jdbcType="VARCHAR" property="showName" />
    <result column="payment_item" jdbcType="VARCHAR" property="paymentItem" />
    <result column="item_id" jdbcType="VARCHAR" property="itemId" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="payment_number" jdbcType="VARCHAR" property="paymentNumber" />
    <result column="payment_date" jdbcType="VARCHAR" property="paymentDate" />
    <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
    <result column="customer_type" jdbcType="VARCHAR" property="customerType" />
    <result column="sale_type" jdbcType="VARCHAR" property="saleType" />
    <result column="xpy_sale_type" jdbcType="VARCHAR" property="xpySaleType" />
    <result column="contract_money" jdbcType="VARCHAR" property="contractMoney" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="xpy_open_version" jdbcType="VARCHAR" property="xpyOpenVersion" />
    <result column="version_remark" jdbcType="VARCHAR" property="versionRemark" />
    <result column="xpy_customer_manager" jdbcType="VARCHAR" property="xpyCustomerManager" />
    <result column="customer_manager_phone" jdbcType="VARCHAR" property="customerManagerPhone" />
    <result column="customer_manager_mail" jdbcType="VARCHAR" property="customerManagerMail" />
    <result column="account_count" jdbcType="VARCHAR" property="accountCount" />
    <result column="xpy_open_date" jdbcType="VARCHAR" property="xpyOpenDate" />
    <result column="xpy_close_date" jdbcType="VARCHAR" property="xpyCloseDate" />
    <result column="xpy_purchase_time_month" jdbcType="VARCHAR" property="xpyPurchaseTimeMonth" />
    <result column="sale_xpy_gift_time_month" jdbcType="VARCHAR" property="saleXpyGiftTimeMonth" />
    <result column="operate_xpy_gift_time_month" jdbcType="VARCHAR" property="operateXpyGiftTimeMonth" />
    <result column="xpy_use_time_month" jdbcType="VARCHAR" property="xpyUseTimeMonth" />
    <result column="xpy_use_time_day" jdbcType="VARCHAR" property="xpyUseTimeDay" />
    <result column="whatsapp_open" jdbcType="VARCHAR" property="whatsappOpen" />
    <result column="xpy_operate_manager" jdbcType="VARCHAR" property="xpyOperateManager" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, open_number, open_type, company_name, show_name, payment_item, item_id, org_id, 
    payment_number, payment_date, contract_no, customer_type, sale_type, xpy_sale_type, 
    contract_money, remark, xpy_open_version, version_remark, xpy_customer_manager, customer_manager_phone, 
    customer_manager_mail, account_count, xpy_open_date, xpy_close_date, xpy_purchase_time_month, 
    sale_xpy_gift_time_month, operate_xpy_gift_time_month, xpy_use_time_month, xpy_use_time_day, 
    whatsapp_open, xpy_operate_manager, create_at, update_at
  </sql>
  <select id="selectByExample" parameterType="com.git.hui.boot.multi.datasource.story.entity.ProjectDataInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from project_data_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from project_data_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project_data_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.git.hui.boot.multi.datasource.story.entity.ProjectDataInfoExample">
    delete from project_data_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.git.hui.boot.multi.datasource.story.entity.ProjectDataInfo" useGeneratedKeys="true">
    insert into project_data_info (open_number, open_type, company_name, 
      show_name, payment_item, item_id, 
      org_id, payment_number, payment_date, 
      contract_no, customer_type, sale_type, 
      xpy_sale_type, contract_money, remark, 
      xpy_open_version, version_remark, xpy_customer_manager, 
      customer_manager_phone, customer_manager_mail, 
      account_count, xpy_open_date, xpy_close_date, 
      xpy_purchase_time_month, sale_xpy_gift_time_month, 
      operate_xpy_gift_time_month, xpy_use_time_month, 
      xpy_use_time_day, whatsapp_open, xpy_operate_manager, 
      create_at, update_at)
    values (#{openNumber,jdbcType=VARCHAR}, #{openType,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{showName,jdbcType=VARCHAR}, #{paymentItem,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=VARCHAR}, #{paymentNumber,jdbcType=VARCHAR}, #{paymentDate,jdbcType=VARCHAR}, 
      #{contractNo,jdbcType=VARCHAR}, #{customerType,jdbcType=VARCHAR}, #{saleType,jdbcType=VARCHAR}, 
      #{xpySaleType,jdbcType=VARCHAR}, #{contractMoney,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{xpyOpenVersion,jdbcType=VARCHAR}, #{versionRemark,jdbcType=VARCHAR}, #{xpyCustomerManager,jdbcType=VARCHAR}, 
      #{customerManagerPhone,jdbcType=VARCHAR}, #{customerManagerMail,jdbcType=VARCHAR}, 
      #{accountCount,jdbcType=VARCHAR}, #{xpyOpenDate,jdbcType=VARCHAR}, #{xpyCloseDate,jdbcType=VARCHAR}, 
      #{xpyPurchaseTimeMonth,jdbcType=VARCHAR}, #{saleXpyGiftTimeMonth,jdbcType=VARCHAR}, 
      #{operateXpyGiftTimeMonth,jdbcType=VARCHAR}, #{xpyUseTimeMonth,jdbcType=VARCHAR}, 
      #{xpyUseTimeDay,jdbcType=VARCHAR}, #{whatsappOpen,jdbcType=VARCHAR}, #{xpyOperateManager,jdbcType=VARCHAR}, 
      #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.git.hui.boot.multi.datasource.story.entity.ProjectDataInfo" useGeneratedKeys="true">
    insert into project_data_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openNumber != null">
        open_number,
      </if>
      <if test="openType != null">
        open_type,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="showName != null">
        show_name,
      </if>
      <if test="paymentItem != null">
        payment_item,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="paymentNumber != null">
        payment_number,
      </if>
      <if test="paymentDate != null">
        payment_date,
      </if>
      <if test="contractNo != null">
        contract_no,
      </if>
      <if test="customerType != null">
        customer_type,
      </if>
      <if test="saleType != null">
        sale_type,
      </if>
      <if test="xpySaleType != null">
        xpy_sale_type,
      </if>
      <if test="contractMoney != null">
        contract_money,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="xpyOpenVersion != null">
        xpy_open_version,
      </if>
      <if test="versionRemark != null">
        version_remark,
      </if>
      <if test="xpyCustomerManager != null">
        xpy_customer_manager,
      </if>
      <if test="customerManagerPhone != null">
        customer_manager_phone,
      </if>
      <if test="customerManagerMail != null">
        customer_manager_mail,
      </if>
      <if test="accountCount != null">
        account_count,
      </if>
      <if test="xpyOpenDate != null">
        xpy_open_date,
      </if>
      <if test="xpyCloseDate != null">
        xpy_close_date,
      </if>
      <if test="xpyPurchaseTimeMonth != null">
        xpy_purchase_time_month,
      </if>
      <if test="saleXpyGiftTimeMonth != null">
        sale_xpy_gift_time_month,
      </if>
      <if test="operateXpyGiftTimeMonth != null">
        operate_xpy_gift_time_month,
      </if>
      <if test="xpyUseTimeMonth != null">
        xpy_use_time_month,
      </if>
      <if test="xpyUseTimeDay != null">
        xpy_use_time_day,
      </if>
      <if test="whatsappOpen != null">
        whatsapp_open,
      </if>
      <if test="xpyOperateManager != null">
        xpy_operate_manager,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openNumber != null">
        #{openNumber,jdbcType=VARCHAR},
      </if>
      <if test="openType != null">
        #{openType,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="showName != null">
        #{showName,jdbcType=VARCHAR},
      </if>
      <if test="paymentItem != null">
        #{paymentItem,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="paymentNumber != null">
        #{paymentNumber,jdbcType=VARCHAR},
      </if>
      <if test="paymentDate != null">
        #{paymentDate,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null">
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="saleType != null">
        #{saleType,jdbcType=VARCHAR},
      </if>
      <if test="xpySaleType != null">
        #{xpySaleType,jdbcType=VARCHAR},
      </if>
      <if test="contractMoney != null">
        #{contractMoney,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="xpyOpenVersion != null">
        #{xpyOpenVersion,jdbcType=VARCHAR},
      </if>
      <if test="versionRemark != null">
        #{versionRemark,jdbcType=VARCHAR},
      </if>
      <if test="xpyCustomerManager != null">
        #{xpyCustomerManager,jdbcType=VARCHAR},
      </if>
      <if test="customerManagerPhone != null">
        #{customerManagerPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerManagerMail != null">
        #{customerManagerMail,jdbcType=VARCHAR},
      </if>
      <if test="accountCount != null">
        #{accountCount,jdbcType=VARCHAR},
      </if>
      <if test="xpyOpenDate != null">
        #{xpyOpenDate,jdbcType=VARCHAR},
      </if>
      <if test="xpyCloseDate != null">
        #{xpyCloseDate,jdbcType=VARCHAR},
      </if>
      <if test="xpyPurchaseTimeMonth != null">
        #{xpyPurchaseTimeMonth,jdbcType=VARCHAR},
      </if>
      <if test="saleXpyGiftTimeMonth != null">
        #{saleXpyGiftTimeMonth,jdbcType=VARCHAR},
      </if>
      <if test="operateXpyGiftTimeMonth != null">
        #{operateXpyGiftTimeMonth,jdbcType=VARCHAR},
      </if>
      <if test="xpyUseTimeMonth != null">
        #{xpyUseTimeMonth,jdbcType=VARCHAR},
      </if>
      <if test="xpyUseTimeDay != null">
        #{xpyUseTimeDay,jdbcType=VARCHAR},
      </if>
      <if test="whatsappOpen != null">
        #{whatsappOpen,jdbcType=VARCHAR},
      </if>
      <if test="xpyOperateManager != null">
        #{xpyOperateManager,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.git.hui.boot.multi.datasource.story.entity.ProjectDataInfoExample" resultType="java.lang.Long">
    select count(*) from project_data_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update project_data_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.openNumber != null">
        open_number = #{record.openNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.openType != null">
        open_type = #{record.openType,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null">
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.showName != null">
        show_name = #{record.showName,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentItem != null">
        payment_item = #{record.paymentItem,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null">
        item_id = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null">
        org_id = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentNumber != null">
        payment_number = #{record.paymentNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentDate != null">
        payment_date = #{record.paymentDate,jdbcType=VARCHAR},
      </if>
      <if test="record.contractNo != null">
        contract_no = #{record.contractNo,jdbcType=VARCHAR},
      </if>
      <if test="record.customerType != null">
        customer_type = #{record.customerType,jdbcType=VARCHAR},
      </if>
      <if test="record.saleType != null">
        sale_type = #{record.saleType,jdbcType=VARCHAR},
      </if>
      <if test="record.xpySaleType != null">
        xpy_sale_type = #{record.xpySaleType,jdbcType=VARCHAR},
      </if>
      <if test="record.contractMoney != null">
        contract_money = #{record.contractMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.xpyOpenVersion != null">
        xpy_open_version = #{record.xpyOpenVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.versionRemark != null">
        version_remark = #{record.versionRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.xpyCustomerManager != null">
        xpy_customer_manager = #{record.xpyCustomerManager,jdbcType=VARCHAR},
      </if>
      <if test="record.customerManagerPhone != null">
        customer_manager_phone = #{record.customerManagerPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.customerManagerMail != null">
        customer_manager_mail = #{record.customerManagerMail,jdbcType=VARCHAR},
      </if>
      <if test="record.accountCount != null">
        account_count = #{record.accountCount,jdbcType=VARCHAR},
      </if>
      <if test="record.xpyOpenDate != null">
        xpy_open_date = #{record.xpyOpenDate,jdbcType=VARCHAR},
      </if>
      <if test="record.xpyCloseDate != null">
        xpy_close_date = #{record.xpyCloseDate,jdbcType=VARCHAR},
      </if>
      <if test="record.xpyPurchaseTimeMonth != null">
        xpy_purchase_time_month = #{record.xpyPurchaseTimeMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.saleXpyGiftTimeMonth != null">
        sale_xpy_gift_time_month = #{record.saleXpyGiftTimeMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.operateXpyGiftTimeMonth != null">
        operate_xpy_gift_time_month = #{record.operateXpyGiftTimeMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.xpyUseTimeMonth != null">
        xpy_use_time_month = #{record.xpyUseTimeMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.xpyUseTimeDay != null">
        xpy_use_time_day = #{record.xpyUseTimeDay,jdbcType=VARCHAR},
      </if>
      <if test="record.whatsappOpen != null">
        whatsapp_open = #{record.whatsappOpen,jdbcType=VARCHAR},
      </if>
      <if test="record.xpyOperateManager != null">
        xpy_operate_manager = #{record.xpyOperateManager,jdbcType=VARCHAR},
      </if>
      <if test="record.createAt != null">
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateAt != null">
        update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update project_data_info
    set id = #{record.id,jdbcType=INTEGER},
      open_number = #{record.openNumber,jdbcType=VARCHAR},
      open_type = #{record.openType,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      show_name = #{record.showName,jdbcType=VARCHAR},
      payment_item = #{record.paymentItem,jdbcType=VARCHAR},
      item_id = #{record.itemId,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=VARCHAR},
      payment_number = #{record.paymentNumber,jdbcType=VARCHAR},
      payment_date = #{record.paymentDate,jdbcType=VARCHAR},
      contract_no = #{record.contractNo,jdbcType=VARCHAR},
      customer_type = #{record.customerType,jdbcType=VARCHAR},
      sale_type = #{record.saleType,jdbcType=VARCHAR},
      xpy_sale_type = #{record.xpySaleType,jdbcType=VARCHAR},
      contract_money = #{record.contractMoney,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      xpy_open_version = #{record.xpyOpenVersion,jdbcType=VARCHAR},
      version_remark = #{record.versionRemark,jdbcType=VARCHAR},
      xpy_customer_manager = #{record.xpyCustomerManager,jdbcType=VARCHAR},
      customer_manager_phone = #{record.customerManagerPhone,jdbcType=VARCHAR},
      customer_manager_mail = #{record.customerManagerMail,jdbcType=VARCHAR},
      account_count = #{record.accountCount,jdbcType=VARCHAR},
      xpy_open_date = #{record.xpyOpenDate,jdbcType=VARCHAR},
      xpy_close_date = #{record.xpyCloseDate,jdbcType=VARCHAR},
      xpy_purchase_time_month = #{record.xpyPurchaseTimeMonth,jdbcType=VARCHAR},
      sale_xpy_gift_time_month = #{record.saleXpyGiftTimeMonth,jdbcType=VARCHAR},
      operate_xpy_gift_time_month = #{record.operateXpyGiftTimeMonth,jdbcType=VARCHAR},
      xpy_use_time_month = #{record.xpyUseTimeMonth,jdbcType=VARCHAR},
      xpy_use_time_day = #{record.xpyUseTimeDay,jdbcType=VARCHAR},
      whatsapp_open = #{record.whatsappOpen,jdbcType=VARCHAR},
      xpy_operate_manager = #{record.xpyOperateManager,jdbcType=VARCHAR},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      update_at = #{record.updateAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.git.hui.boot.multi.datasource.story.entity.ProjectDataInfo">
    update project_data_info
    <set>
      <if test="openNumber != null">
        open_number = #{openNumber,jdbcType=VARCHAR},
      </if>
      <if test="openType != null">
        open_type = #{openType,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="showName != null">
        show_name = #{showName,jdbcType=VARCHAR},
      </if>
      <if test="paymentItem != null">
        payment_item = #{paymentItem,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="paymentNumber != null">
        payment_number = #{paymentNumber,jdbcType=VARCHAR},
      </if>
      <if test="paymentDate != null">
        payment_date = #{paymentDate,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null">
        contract_no = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="saleType != null">
        sale_type = #{saleType,jdbcType=VARCHAR},
      </if>
      <if test="xpySaleType != null">
        xpy_sale_type = #{xpySaleType,jdbcType=VARCHAR},
      </if>
      <if test="contractMoney != null">
        contract_money = #{contractMoney,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="xpyOpenVersion != null">
        xpy_open_version = #{xpyOpenVersion,jdbcType=VARCHAR},
      </if>
      <if test="versionRemark != null">
        version_remark = #{versionRemark,jdbcType=VARCHAR},
      </if>
      <if test="xpyCustomerManager != null">
        xpy_customer_manager = #{xpyCustomerManager,jdbcType=VARCHAR},
      </if>
      <if test="customerManagerPhone != null">
        customer_manager_phone = #{customerManagerPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerManagerMail != null">
        customer_manager_mail = #{customerManagerMail,jdbcType=VARCHAR},
      </if>
      <if test="accountCount != null">
        account_count = #{accountCount,jdbcType=VARCHAR},
      </if>
      <if test="xpyOpenDate != null">
        xpy_open_date = #{xpyOpenDate,jdbcType=VARCHAR},
      </if>
      <if test="xpyCloseDate != null">
        xpy_close_date = #{xpyCloseDate,jdbcType=VARCHAR},
      </if>
      <if test="xpyPurchaseTimeMonth != null">
        xpy_purchase_time_month = #{xpyPurchaseTimeMonth,jdbcType=VARCHAR},
      </if>
      <if test="saleXpyGiftTimeMonth != null">
        sale_xpy_gift_time_month = #{saleXpyGiftTimeMonth,jdbcType=VARCHAR},
      </if>
      <if test="operateXpyGiftTimeMonth != null">
        operate_xpy_gift_time_month = #{operateXpyGiftTimeMonth,jdbcType=VARCHAR},
      </if>
      <if test="xpyUseTimeMonth != null">
        xpy_use_time_month = #{xpyUseTimeMonth,jdbcType=VARCHAR},
      </if>
      <if test="xpyUseTimeDay != null">
        xpy_use_time_day = #{xpyUseTimeDay,jdbcType=VARCHAR},
      </if>
      <if test="whatsappOpen != null">
        whatsapp_open = #{whatsappOpen,jdbcType=VARCHAR},
      </if>
      <if test="xpyOperateManager != null">
        xpy_operate_manager = #{xpyOperateManager,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.git.hui.boot.multi.datasource.story.entity.ProjectDataInfo">
    update project_data_info
    set open_number = #{openNumber,jdbcType=VARCHAR},
      open_type = #{openType,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      show_name = #{showName,jdbcType=VARCHAR},
      payment_item = #{paymentItem,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      payment_number = #{paymentNumber,jdbcType=VARCHAR},
      payment_date = #{paymentDate,jdbcType=VARCHAR},
      contract_no = #{contractNo,jdbcType=VARCHAR},
      customer_type = #{customerType,jdbcType=VARCHAR},
      sale_type = #{saleType,jdbcType=VARCHAR},
      xpy_sale_type = #{xpySaleType,jdbcType=VARCHAR},
      contract_money = #{contractMoney,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      xpy_open_version = #{xpyOpenVersion,jdbcType=VARCHAR},
      version_remark = #{versionRemark,jdbcType=VARCHAR},
      xpy_customer_manager = #{xpyCustomerManager,jdbcType=VARCHAR},
      customer_manager_phone = #{customerManagerPhone,jdbcType=VARCHAR},
      customer_manager_mail = #{customerManagerMail,jdbcType=VARCHAR},
      account_count = #{accountCount,jdbcType=VARCHAR},
      xpy_open_date = #{xpyOpenDate,jdbcType=VARCHAR},
      xpy_close_date = #{xpyCloseDate,jdbcType=VARCHAR},
      xpy_purchase_time_month = #{xpyPurchaseTimeMonth,jdbcType=VARCHAR},
      sale_xpy_gift_time_month = #{saleXpyGiftTimeMonth,jdbcType=VARCHAR},
      operate_xpy_gift_time_month = #{operateXpyGiftTimeMonth,jdbcType=VARCHAR},
      xpy_use_time_month = #{xpyUseTimeMonth,jdbcType=VARCHAR},
      xpy_use_time_day = #{xpyUseTimeDay,jdbcType=VARCHAR},
      whatsapp_open = #{whatsappOpen,jdbcType=VARCHAR},
      xpy_operate_manager = #{xpyOperateManager,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>